{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@root": "./src",
          "@errors": "./src/errors",
          "@models": "./src/models",
          "@resources": "./src/resources",
          "@mollie-types": "./src/types",
          "@tests": "./tests"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6.9"
        }
      }
    ]
  ]
}
