{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-external-helpers", "@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
    }
  }
}
