{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6.9"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/typescript",
          "@babel/preset-env",
          {
            "targets": {
              "node": "6.9"
            }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
