{
  "extends": [
    "@mollie/eslint-config-typescript"
  ],
  "rules": {
    "max-len": ["warn", { "code": 140, "comments": 400 }],
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "tests", "examples"],
        "extensions": [".js", ".ts"]
      }
    }
  },
  "env": {
    "node": true
  }
}
