{
  "extends": [
    "@mollie/eslint-config-typescript",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "tests", "examples"],
        "extensions": [".js", ".ts"]
      }
    }
  },
  "env": {
    "node": true
  }
}
