[
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles",
        "body": {
            "name": "Iteration test profile",
            "email": "example@example.org",
            "phone": "+31208202070",
            "website": "https://example.org",
            "mode": "test"
        },
        "status": 201,
        "response": {
            "resource": "profile",
            "id": "pfl_VmWrA97Mj4",
            "mode": "test",
            "name": "Iteration test profile",
            "website": "https://example.org",
            "email": "example@example.org",
            "phone": "+31208202070",
            "categoryCode": 0,
            "businessCategory": null,
            "status": "unverified",
            "createdAt": "2022-07-12T12:21:43+00:00",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/profiles/pfl_VmWrA97Mj4",
                    "type": "application/hal+json"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/settings/profiles/pfl_VmWrA97Mj4",
                    "type": "text/html"
                },
                "chargebacks": {
                    "href": "https://api.mollie.com/v2/chargebacks?profileId=pfl_VmWrA97Mj4",
                    "type": "application/hal+json"
                },
                "methods": {
                    "href": "https://api.mollie.com/v2/methods?profileId=pfl_VmWrA97Mj4",
                    "type": "application/hal+json"
                },
                "payments": {
                    "href": "https://api.mollie.com/v2/payments?profileId=pfl_VmWrA97Mj4",
                    "type": "application/hal+json"
                },
                "refunds": {
                    "href": "https://api.mollie.com/v2/refunds?profileId=pfl_VmWrA97Mj4",
                    "type": "application/hal+json"
                },
                "checkoutPreviewUrl": {
                    "href": "https://www.mollie.com/checkout/preview/pfl_VmWrA97Mj4",
                    "type": "text/html"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/create-profile",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles/pfl_VmWrA97Mj4/methods/ideal",
        "body": "",
        "status": 201,
        "response": {
            "resource": "method",
            "id": "ideal",
            "description": "iDEAL",
            "minimumAmount": {
                "value": "0.01",
                "currency": "EUR"
            },
            "maximumAmount": {
                "value": "50000.00",
                "currency": "EUR"
            },
            "image": {
                "size1x": "https://www.mollie.com/external/icons/payment-methods/ideal.png",
                "size2x": "https://www.mollie.com/external/icons/payment-methods/ideal%402x.png",
                "svg": "https://www.mollie.com/external/icons/payment-methods/ideal.svg"
            },
            "status": "pending-boarding",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/methods/ideal",
                    "type": "application/hal+json"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/enable-method",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/payments",
        "body": {
            "profileId": "pfl_VmWrA97Mj4",
            "testmode": true,
            "method": "ideal",
            "amount": {
                "currency": "EUR",
                "value": "19.50"
            },
            "description": "for train ticket",
            "redirectUrl": "https://example.org",
            "webhookUrl": "https://example.org/payments/webhook/"
        },
        "status": 201,
        "response": {
            "resource": "payment",
            "id": "tr_cMr8ivMiQm",
            "mode": "test",
            "createdAt": "2022-07-12T12:21:43+00:00",
            "amount": {
                "value": "19.50",
                "currency": "EUR"
            },
            "description": "for train ticket",
            "method": "ideal",
            "metadata": null,
            "status": "open",
            "isCancelable": false,
            "expiresAt": "2022-07-12T12:36:43+00:00",
            "profileId": "pfl_VmWrA97Mj4",
            "sequenceType": "oneoff",
            "redirectUrl": "https://example.org",
            "webhookUrl": "https://example.org/payments/webhook/",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/payments/tr_cMr8ivMiQm?testmode=true",
                    "type": "application/hal+json"
                },
                "checkout": {
                    "href": "https://www.mollie.com/checkout/select-issuer/ideal/cMr8ivMiQm",
                    "type": "text/html"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/payments/tr_cMr8ivMiQm",
                    "type": "text/html"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/payments-api/create-payment",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.mollie.com:443",
        "method": "GET",
        "path": "/v2/payments?profileId=pfl_VmWrA97Mj4&testmode=true&limit=128",
        "body": "",
        "status": 200,
        "response": {
            "_embedded": {
                "payments": [
                    {
                        "resource": "payment",
                        "id": "tr_BSbtt9Uobe",
                        "mode": "test",
                        "createdAt": "2022-07-12T12:21:45+00:00",
                        "amount": {
                            "value": "20.00",
                            "currency": "EUR"
                        },
                        "description": "for book #1",
                        "method": "i[...]
[...]
