[
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles",
        "body": {
            "name": "Iteration test profile",
            "email": "example@example.org",
            "phone": "+31208202070",
            "website": "https://example.org",
            "mode": "test"
        },
        "status": 201,
        "response": {
            "resource": "profile",
            "id": "pfl_XjBqKLWD7q",
            "mode": "test",
            "name": "Iteration test profile",
            "website": "https://example.org",
            "email": "example@example.org",
            "phone": "+31208202070",
            "categoryCode": 0,
            "businessCategory": null,
            "status": "unverified",
            "createdAt": "2022-08-04T10:53:31+00:00",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/profiles/pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/settings/profiles/pfl_XjBqKLWD7q",
                    "type": "text/html"
                },
                "chargebacks": {
                    "href": "https://api.mollie.com/v2/chargebacks?profileId=pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "methods": {
                    "href": "https://api.mollie.com/v2/methods?profileId=pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "payments": {
                    "href": "https://api.mollie.com/v2/payments?profileId=pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "refunds": {
                    "href": "https://api.mollie.com/v2/refunds?profileId=pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "checkoutPreviewUrl": {
                    "href": "https://www.mollie.com/checkout/preview/pfl_XjBqKLWD7q",
                    "type": "text/html"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/create-profile",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "nginx",
            "Thu, 04 Aug 2022 10:53:31 GMT",
            "Content-Type",
            "application/hal+json",
            "1174",
            "noindex",
            "1; mode=block",
            "1.1 google",
            "max-age=31536000; includeSubDomains; preload",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "PATCH",
        "path": "/v2/profiles/pfl_XjBqKLWD7q",
        "body": {
            "businessCategory": "RESTAURANTS_NIGHTLIFE"
        },
        "status": 200,
        "response": {
            "resource": "profile",
            "id": "pfl_XjBqKLWD7q",
            "mode": "live",
            "name": "Iteration test profile",
            "website": "https://example.org",
            "email": "example@example.org",
            "phone": "+31208202070",
            "categoryCode": 0,
            "businessCategory": "RESTAURANTS_NIGHTLIFE",
            "status": "unverified",
            "createdAt": "2022-08-04T10:53:31+00:00",
            "review": {
                "status": "pending"
            },
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/profiles/pfl_XjBqKLWD7q",
                    "type": "application/hal+json"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/settings/profiles/pfl_XjBqKLWD7q",
                    "type": "text/html"
                },
                "chargebacks": {
             [...]
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles/pfl_XjBqKLWD7q/methods/giftcard/issuers/festivalcadeau",
        "body": {},
        "status": 201,
        "response": {
            "resource": "issuer",
            "id": "festivalcadeau",
            "description": "FestivalCadeau Giftcard",
            "status": "pending-issuer",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/issuer/festivalcadeau",
                    "type": "application/hal+json"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/enable-giftcard-issuer",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "nginx",
            "Thu, 04 Aug 2022 10:53:32 GMT",
            "Content-Type",
            "application/hal+json",
            "335",
            "noindex",
            "1; mode=block",
            "1.1 google",
            "max-age=31536000; includeSubDomains; preload",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles/pfl_XjBqKLWD7q/methods/voucher/issuers/appetiz",
        "body": {
            "contractId": "test_contract_id"
        },
        "status": 201,
        "response": {
            "resource": "issuer",
            "id": "appetiz",
            "name": "Appetiz",
            "image": {
                "size1x": "https://www.mollie.com/external/icons/voucher-issuers/appetiz.png",
                "size2x": "https://www.mollie.com/external/icons/voucher-issuers/appetiz%402x.png",
                "svg": "https://www.mollie.com/external/icons/voucher-issuers/appetiz.svg"
            },
            "status": "pending-issuer",
            "contractor": {
                "id": "Conecs",
                "name": "Conecs",
                "contractId": "test_contract_id"
            },
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/issuers/appetiz",
                    "type": "application/hal+json"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/enable-voucher-issuer",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "nginx",
            "Thu, 04 Aug 2022 10:53:33 GMT",
            "Content-Type",
            "application/hal+json",
            "618",
            "noindex",
            "1; mode=block",
            "1.1 google",
            "max-age=31536000; includeSubDomains; preload",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
