[
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/oauth2/tokens",
        "body": {
            "grant_type": "refresh_token",
            "refresh_token": "refresh_gSfHFr4VVc658nKUwDfgSAPcGuUKB6"
        },
        "status": 200,
        "response": {
            "access_token": "access_FNnEHVkuFxWnxaBmRKPepK5Vzcd77a",
            "expires_in": 3600,
            "token_type": "bearer",
            "scope": "payments.read payments.write profiles.read profiles.write",
            "refresh_token": "refresh_gSfHFr4VVc658nKUwDfgSAPcGuUKB6"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles",
        "body": {
            "name": "Iteration test profile",
            "email": "example@example.org",
            "phone": "+31208202070",
            "website": "https://example.org",
            "mode": "test"
        },
        "status": 201,
        "response": {
            "resource": "profile",
            "id": "pfl_PstCyjjRfG",
            "mode": "test",
            "name": "Iteration test profile",
            "website": "https://example.org",
            "email": "example@example.org",
            "phone": "+31208202070",
            "categoryCode": 0,
            "businessCategory": null,
            "status": "unverified",
            "createdAt": "2021-11-12T12:53:35+00:00",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/profiles/pfl_PstCyjjRfG",
                    "type": "application/hal+json"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/settings/profiles/pfl_PstCyjjRfG",
                    "type": "text/html"
                },
                "chargebacks": {
                    "href": "https://api.mollie.com/v2/chargebacks?profileId=pfl_PstCyjjRfG",
                    "type": "application/hal+json"
                },
                "methods": {
                    "href": "https://api.mollie.com/v2/methods?profileId=pfl_PstCyjjRfG",
                    "type": "application/hal+json"
                },
                "payments": {
                    "href": "https://api.mollie.com/v2/payments?profileId=pfl_PstCyjjRfG",
                    "type": "application/hal+json"
                },
                "refunds": {
                    "href": "https://api.mollie.com/v2/refunds?profileId=pfl_PstCyjjRfG",
                    "type": "application/hal+json"
                },
                "checkoutPreviewUrl": {
                    "href": "https://www.mollie.com/checkout/preview/pfl_PstCyjjRfG",
                    "type": "text/html"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/create-profile",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/profiles/pfl_PstCyjjRfG/methods/ideal",
        "body": "",
        "status": 201,
        "response": {
            "resource": "method",
            "id": "ideal",
            "description": "iDEAL",
            "minimumAmount": {
                "value": "0.01",
                "currency": "EUR"
            },
            "maximumAmount": {
                "value": "50000.00",
                "currency": "EUR"
            },
            "image": {
                "size1x": "https://www.mollie.com/external/icons/payment-methods/ideal.png",
                "size2x": "https://www.mollie.com/external/icons/payment-methods/ideal%402x.png",
                "svg": "https://www.mollie.com/external/icons/payment-methods/ideal.svg"
            },
            "status": "pending-review",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/methods/ideal",
                    "type": "application/hal+json"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/profiles-api/enable-method",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mollie.com:443",
        "method": "POST",
        "path": "/v2/payments",
        "body": {
            "profileId": "pfl_PstCyjjRfG",
            "testmode": true,
            "method": "ideal",
            "amount": {
                "currency": "EUR",
                "value": "19.50"
            },
            "description": "for train ticket",
            "redirectUrl": "https://example.org",
            "webhookUrl": "https://example.org/payments/webhook/"
        },
        "status": 201,
        "response": {
            "resource": "payment",
            "id": "tr_pgCa4cNRH8",
            "mode": "test",
            "createdAt": "2021-11-12T12:53:35+00:00",
            "amount": {
                "value": "19.50",
                "currency": "EUR"
            },
            "description": "for train ticket",
            "method": "ideal",
            "metadata": null,
            "status": "open",
            "isCancelable": false,
            "expiresAt": "2021-11-12T13:08:35+00:00",
            "profileId": "pfl_PstCyjjRfG",
            "sequenceType": "oneoff",
            "redirectUrl": "https://example.org",
            "webhookUrl": "https://example.org/payments/webhook/",
            "_links": {
                "self": {
                    "href": "https://api.mollie.com/v2/payments/tr_pgCa4cNRH8?testmode=true",
                    "type": "application/hal+json"
                },
                "checkout": {
                    "href": "https://www.mollie.com/checkout/select-issuer/ideal/pgCa4cNRH8",
                    "type": "text/html"
                },
                "dashboard": {
                    "href": "https://www.mollie.com/dashboard/org_6227451/payments/tr_pgCa4cNRH8",
                    "type": "text/html"
                },
                "documentation": {
                    "href": "https://docs.mollie.com/reference/v2/payments-api/create-payment",
                    "type": "text/html"
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/hal+json"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.mollie.com:443",
        "method": "GET",
        "path": "/v2/payments?profileId=pfl_PstCyjjRfG&testmode=true&limit=64",
        "body": "",
        "status": 200,
        "response": {
            "_embedded": {
                "payments": [
                    {
                        "resource": "payment",
                        "id": "tr_2wcUBmpEN7",
                        "mode": "test",
                        "createdAt": "2021-11-12T12:53:36+00:00",
                        "amount": {
                            "value": "20.00",
                            "currency": "EUR"
                        },
                        "description": "for book #1",
                        "method": "i[...]
[...]
