name: Node.js test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14.x, 18.x, 20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Run test suite
        run: yarn test
        env:
          # Set the API key for the integration tests. In the future, all tests will rely on snapshots. An API key will
          # then only be required to update those snapshots. The API key can then be removed from this file.
          API_KEY: test_4kQQbBMEFh8QAuKVaWdpKuRpVSsdVG
